@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}
.navbar_container{
    background-color: rgb(31, 35, 40);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.home_text{
    color: white;
    text-decoration: none;
}
.image_container{
    margin-left: 1.25rem;
}
/* below one thing is not done by me */
.image{
    height: 50px;
}
.home_cart_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
    color: white;
    margin-right: 1.25rem;
    width: 85px;
}
.icon_container{
    display: flex;
    position: relative;
}
.cartIcon{
    font-size: x-large;
    color: white;
}
.noOfItems{
    position: absolute;
    top: -1rem;
    right: -0.5rem;
    color: white;
    background-color: green;
    font-size: x-small;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.noOfItems {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 10px, 0);
    }
}
.home_page_container{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.noDataPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: xx-large;
    font-weight: bold;
}
.items_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.product_container{
    width: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: -5px 5px rgb(195, 193, 193,0.3); 
    min-height: 336px;
}

.product_container:hover{
    transform: scale(1.1);
    background-color: white;
    transition: ease-in 0.2s;
    box-shadow: none;
}
.title{
    color: rgb(31, 35, 40);
    font-weight: bold;
    font-size: large;
    text-align: left;
    width: 10rem;
    margin-top: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.description{
    width: 10rem;
    color: gray;
    font-weight: normal;
    font-size: 10px;
    text-align: left;
}
.prd_img_container{
    height: 180px;
}
.prd_img{
    height: 100%;
    width: 100%;
}
.price_btn_container{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    width: 100%;
    margin-top: 1.25rem;
}
.price{
    color: green;
    font-weight: bold;
}
.Btn{
    color: rgb(31, 35, 40);
    border: 2px solid rgb(31, 35, 40);
    border-radius: 15px;
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
}
.Btn:hover{
    background-color: rgb(31, 35, 40);
    color: white;
    transition: ease-in 0.25s;
}
.cart_container{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.empty_cart_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty_cart_heading{
    font-size: x-large;
}
.shopNow_btn{
    background-color: green;
    padding: 10px 50px;
    font-size: large;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 10px;
    color: white;
    border: none;
}
.shopNow_btn:hover{
    background-color: white;
    border: 2px solid green;
    color: green;
    transition: ease-in 0.25s;
}
.cartItemsPresent_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: max-content;
    gap: 20px;
}
.itemsOfCartOnly{
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
}
.cart_bill{
    flex-grow: 1;
    height: 82.5vh;
    max-height: 82.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    margin-top: 25px;
    position: sticky;
    right: 0;
    top: 25px;
}
.cart_prd_img{
   height: 180px;
   width: 180px;
}
.cart_itemContainer{
    border-bottom: 2px solid gray;
    display: flex;
    gap: 45px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.item_title{
    font-size: large;
    margin-top: 5px;
    margin-bottom: 15px;
}
.item_desc{
    font-size: 15px;
}
.price_delIcon_container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.item_price{
    font-weight: 950;
    color: green;
}
.delIconContainer{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 166, 166);
}
.del_icon{
    color: brown;
    font-size: 15px;
}
.yourCart{
    color: green;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}
.summary{
    color: green;
    font-weight: 1000;
    font-size: xx-large;
    text-transform: uppercase;
    margin-bottom: 15px;

}
.total_items_number,.total_amount{
    font-weight: bold;
}
.amount_heading{
    color: rgb(109, 108, 108);
}
.checkout_btn{
    color: white;
    background-color: green;
    width: 100%;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}